certifi==2021.10.8
charset-normalizer==2.0.11
click==8.1.3
colorama==0.4.4
commonmark==0.9.1
coverage==5.5
decorator==4.4.2
deprecation==2.1.0
eyed3==0.9.6
filetype==1.0.9
Flask==2.2.2
idna==3.3
imageio==2.14.1
imageio-ffmpeg==0.4.5
importlib-metadata==5.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
moviepy==1.0.3
numpy==1.22.1
packaging==21.3
Pillow==9.0.0
proglog==0.1.9
Pygments==2.11.2
pyparsing==3.0.7
pyperclip==1.8.2
pytube==15.0.0
pytypes==1.0b10
requests==2.27.1
rich==12.0.1
toml==0.10.2
tqdm==4.62.3
urllib3==1.26.8
validators==0.20.0
Werkzeug==2.2.2
zipp==3.10.0
